.conteiner-item {
  height: 600px;
  background: linear-gradient(0deg, rgb(19, 115, 134) 80%, rgba(129, 96, 40, 0) 95%);
  background: rgb(0,10,20);
  background: linear-gradient(0deg, rgb(0, 10, 20) 8%, rgb(15, 25, 35) 80%, rgba(13, 114, 185, 0) 97%);
z-index: 10;
}