.section-services {
  padding-top:  100px;
  background: #000a14;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  .container-services {
    width: 90%;
    color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1024px;
    
    h1 {
      text-align: center;
      margin-bottom: 40px;
      font-size: 27pt;

    }
    h2 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      font-size: 1.2rem;
      margin: 10px;
    }
   article {
    margin-bottom: 60px;
   }
  }
}