.section-services {


  .container-items-services{
   display: flex;
   flex-direction: column;
   gap: 20px;
  }
}

.container-item-service {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  border: 1px solid rgba(41, 39, 39, 0.519);
  border-radius: 20px;

  article {
    width: 50%;
    img {
      width: 100%;
    }

    header {
      display: flex;

      img {
        width: auto !important;
        height: 30px;
      }
    }
  }
}