.section-services {


  .container-items-services{
   display: flex;
   flex-direction: column;
   gap: 40px;
   margin-top: 50px;
  }
}

.container-item-service {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  border: 2px solid rgba(41, 39, 39, 0.519);
  background: rgba(138, 130, 130, 0.251);
  border-radius: 20px;
  overflow: hidden;
  
  .container-image {
    width: 50%;
    fill:red;
    border-radius: 0px 0px 20px 0px;

      clip-path: polygon(
        0% 0%, 29% 84%, 31% 88%, 33% 91%, 35% 93%, 
        37% 95%, 40% 97%, 43% 98%, 47% 99%, 51% 100%, 
        55% 100%, 100% 100%, 100% 0%
      );
    img {
      width: 100%;
      
    }
  }

  .container-text {

    header {
      
      font-size: 10pt;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: 10px;

      img {
        width: 52px;
      }
      h2 {
       text-align: start;
      }
     

    }
     ul {
      list-style:none;
      padding-left: 30px;

      span {
        color:#29af6f;
      }

      }
  }

  @media (max-width: 950px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    .container-image {
      width: 70%;
      height: 250px;
      border-radius: 0px 0px 20px 0px;

      clip-path: polygon(
        0% 0%, 29% 84%, 31% 88%, 33% 91%, 35% 93%, 
        37% 95%, 40% 97%, 43% 98%, 47% 99%, 51% 100%, 
        55% 100%, 100% 100%, 100% 0%
      );
      clip-path: polygon(
        0% 0%, 29% 84%, 31% 88%, 33% 91%, 35% 93%, 
        37% 95%, 40% 97%, 43% 98%, 47% 99%, 51% 100%, 
        55% 100%, 100% 100%, 100% 0%
      );
    }

    .container-text {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}
