.container-Footer {
  color: rgb(255, 255, 255);
  background: #222222;
  background: linear-gradient(0deg, rgba(18, 23, 16, 1) 6%, rgba(34, 34, 34, 1) 20%, rgba(34, 34, 34, 1) 75%, rgba(13, 17, 18, 1) 95%);

  overflow: hidden;

  /*
  background-image: url('/images/webp/fondo-footer.webp');
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
*/
  border-top: 1px solid rgba(255, 255, 255, 0.789);

  box-shadow: -1px -30px 21px -15px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: -1px -30px 21px -15px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: -1px -30px 21px -15px rgba(0, 0, 0, 0.28);

  .img-titulo-logo-footer {

    filter: drop-shadow(0 0px 6px rgba(255, 255, 255, 0.908));
    width: 90%;
    max-width: 400px;

  }

  .separador {

    width: 350px;
    height: 3px;
    border-radius: 50%;
    background: rgba(72, 72, 72, 0.344);
    box-shadow: 0px 0px 22px 1px rgba(255, 255, 255, 0.107);

    margin-top: 60px;
    margin-bottom: 20px;
  }

  .section-footer-1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    // min-height: 65vh;

    .section-redes-sociales {
      width: 250px;
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        cursor: pointer;
        width: 30px;

        svg {
          border-radius: 5px;
          overflow: hidden;
          width: 35px;
          fill: #3A959F;
          background: rgba(64, 181, 249, 0.148);
        }

        :hover {
          fill: #65d5e2;
          background: rgba(1, 16, 110, 0.305);
        }


      }

    }
  }

  header {
    background: #01E1F8;
    background: linear-gradient(0deg, rgba(3, 0, 57, 1) 1%, rgba(49, 123, 157, 1) 68%, rgba(1, 225, 240, 1) 100%);

    height: 10px;
  }

  section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 60vh;


    article {
      margin: 40px 30px 40px 30px;

    }


    b {
      color: #3A959F;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;
    }



    .section-contact {
      @media (max-width: 460px) {
        width: 100%;

        h1 {
          font-size: 20pt !important;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      h1 {
        font-size: 25pt;
        margin-bottom: 40px;
        width: 100%;

      }


      svg {
        padding-right: 10px;
        width: 20px;
        fill: #3A959F;
      }

      div {
        margin-left: 30px;
      }

      a {
        text-decoration: none;
        color: white;
        margin-left: 0px;

        &:hover {
          color: #e8472aab;
        }
      }
    }
  }

  footer {
    text-align: center;
    font-size: 10pt;
    color: #757575;
    background: rgb(58, 58, 58);
    padding: 3px;
  }
}