.container-information {
  padding-top: 60px;
  background: #000a14;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  overflow: hidden;

  .section-standar {
    width: 100%;
    max-width: 1500px;
    //min-height: 500px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;

    h1 {
      text-align: center;
      margin-bottom: 40px;
      font-size: 27pt;
      color: white;

    }

    h2 {
      font-size: 2rem;
      text-align: center;
      color: white;
    }

    p {
      font-size: 1.2rem;
      margin: 10px;
      color: #c1cfdb;
    }

    article {
      z-index: 3;

      width: 90%;
      color: aliceblue;
      padding-left: 5%;
      padding-right: 5%;
      max-width: 1024px;

    }
  }

}

.section-introduction {
  //background: rgba(255, 0, 0, 0.092);

  .img-bg1 {
    position: absolute;
    width: 70%;
    z-index: 1;
    top: 0;
    left: 5%;
    min-width: 600px;
  }
  header {
    padding-top: 120px;
    z-index: 3;
    
  }
  article {
    margin-bottom: 50px;
    z-index: 3;
    //text-align: justify;

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;


    .container-video {
      background: rgb(32, 30, 30);
      border-radius: 15px;
      
      overflow: hidden;
      iframe {
        width: 100%;
        border-radius: 10px;
        width: 400px;
      height: 200px;
      }
    }
    .container-info {
      width: 65%;
    }
    @media (max-width: 1020px) {
      flex-direction: column;
      .container-video {
        iframe {
          width: 70vw;
          height: 40vw;
        }
      }
      .container-info {
        width: 100%;
      }
    }
  }
  
}

.section-information {
  //background: rgba(255, 255, 0, 0.078);
  .img-bg2 {
    position: absolute;
    width: 70%;
    z-index: 1;
    top: 40px;
    right: 5%;
    min-width: 600px;
    transform: scaleX(-1);
  }
  .img-bg3 {
    position: absolute;
    width: 70%;
    z-index: 1;
    bottom: -200px;
    left: -300px;
    min-width: 600px;
    transform: scale(-1);
  }
  header {
    padding-top: 120px;
    padding-bottom: 50px;
    z-index: 3;
    h2 {
      color: #f27e30 !important;
      text-align: center;
    }
  }
  article {
    margin-bottom: 50px;
    z-index: 3;
    text-align: justify;
  }
}


.section-perfil-profecional {
  
  .img-bg4 {
    position: absolute;
    width: 80%;
    z-index: 1;
    bottom: 0px;
    max-width: 1400px;
    min-width: 200px;
  }
  header {
    padding-top: 100px;
    padding-bottom: 10px;
    z-index: 3;
    h2 {
        color: #f27e30 !important;
        text-align: center;
      }
  }
  article {
    margin-bottom: 50px;
    z-index: 3;
  }

}



.infomation-section-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  .container-item {
    position: relative;
    width: 320px;
    height: 320px;

  }

  .item-Info {
    background-color: #181e25bb;
    text-align: center;
    width: 100%;
    height: 320px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;


      &:hover{
        background-color: #1e2831d6;

      }
    .header-item {
      height: 100px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
     

      div {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px solid #252f38;
        overflow: hidden;
        display: flex;
        gap: 0;
        img {
          width: 100px;
        }
      }

      hr {
        height: 1px;
        width: 30%;
        //background-color: #252f38;
        border: 0;
        border-top: dotted 2px #252f38;
      }
    }

    h3 {
      color: #69f0ae;
    }

    p {
      font-size: 12pt;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1px;
      /* Grosor del borde */
      border-radius: 10px;
      background: linear-gradient(200deg, #69f0ae, #46b6dc);
      -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      opacity: 0.5;
      

    }

  }

  .item-Info-back {
    background-color: #30333dbb;
    text-align: center;
    width: 100%;
    height: 320px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
 
     img {
      position: absolute;
      opacity: 0.05;
      width: 100%;
      top: 20px;
      left: 0;
     }
     p {
      opacity: 0.8;
     }
    .header-item {
      height: 60px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
     
      hr {
        height: 1px;
        width: 90%;
        //background-color: #252f38;
        border: 0;
        border-top: dotted 2px #3b434b;
      }
    }

    h3 {
      color: #69f0af6c;
    }

    p {
      font-size: 12pt;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1px;
      /* Grosor del borde */
      border-radius: 10px;
      background: linear-gradient(200deg, #69f0ae, #46b6dc);
      -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      opacity: 0.5;

    }

  }
}


.perfil-profecional-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;


  
 
  .container-perfil {
    background: rgb(87, 190, 143);
    background: linear-gradient(60deg, rgba(87, 190, 144, 0.759) 0%, rgba(87, 190, 144, 0.54) 10%, rgba(24, 32, 39, 0.381) 29%, rgba(24, 32, 39, 0.627) 70%, rgba(87, 190, 144, 0.348) 100%);
    width: 100%;
    height: 200px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
    margin-top: 60px;
    margin-bottom: 100px;
    width: 100%;

    position: relative;

   
    .sec-perfil-text {
      padding: 12px;
      button {
        margin-top: 20px;
      }
      h2 {
        margin-bottom: 15px;
      }
      p {
        font-size: 9pt;
        color: #c1cfdb;
        margin: 0;
      }
    }

    
    .img-perfil-1 {
      position: absolute;
      bottom: 0;
      left: -100PX;
      height: 350px;
    }
    .img-perfil-2 {
      position: absolute;
      right: -50PX;
      top: -100PX;
        
    }
    .img-perfil-3 {
      position: absolute;
      bottom: 0;
      left: 50px;
      height: 300px;
      transform: scaleX(-1);

    }
  }
  @media (max-width: 1100px) {
    .container-perfil {
      width: 60%;
      min-width: 310px;
      height: 500px;
      justify-content: flex-start;
      padding-top: 130px;
      .img-perfil-1 {
        left: -65PX;
        height: 320px;
      }
      .img-perfil-2 {
        right: -30PX;
        top: -60PX;
        height: 250px;
          
      }
      .img-perfil-3 {
        position: absolute;
        left: auto;
        right: -20px;
        transform: scaleX(1);
      } 
    }
  }
}

.hero-button-perfil {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid rgba(250, 116, 7, 0.23);
  border-radius: 999px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0.167);
  background: #f36f181f;



  &:hover {
    color: #ffffff;
    border: 1px solid rgba(250, 116, 7, 0.23);

    background: #f567086a;
    box-shadow: 0 0px 15px rgba(241, 64, 0, 0.249);
  }
}
